@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

body {
  font-family: 'Inter', sans-serif;
}

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes border-rotate {
  to {
    --border-angle: 360deg;
  }
}

.animate-rotate-border {
  animation: border-rotate 4s linear infinite;
}
